<div class="header">
    <div class="name"><%= name %></div>
    <div class="contact-info">
        <%= phone %> | <%= email %><br>
        Location: <%= location %><br>
        Website: <%= website %><br>
        GitHub: <%= github %><br>
        LinkedIn: <%= linkedin %><br>
    </div>
</div>
