<!DOCTYPE ejs>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - EJS Template</title>
    <link rel="stylesheet" href="partials/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/summary') %>
    <%- include('partials/experience') %>
    <%- include('partials/projects') %>
    <%- include('partials/skills') %>
    <%- include('partials/certifications') %>
    <%- include('partials/languages') %>
    <%- include('partials/references') %>
    <%- include('partials/footer') %>
</body>
</html>